<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.schibsted.account.webflows">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <provider
            android:name="com.schibsted.account.webflows.loginPrompt.LoginPromptContentProvider"
            android:authorities="${applicationId}.contentprovider"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.schibsted.account.LOGIN_PROMPT_CONTENT_PROVIDER" />
            </intent-filter>
        </provider>

        <activity
            android:name="com.schibsted.account.webflows.activities.AuthorizationManagementActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="com.schibsted.account.webflows.activities.RedirectUriReceiverActivity" />
    </application>

    <queries>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
        <intent>
            <action android:name="com.schibsted.account.LOGIN_PROMPT_CONTENT_PROVIDER" />
        </intent>
    </queries>
</manifest>
