<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".example.ExampleApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.schibsted.account.example.MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.schibsted.account.example.LoggedInActivity"
            android:label="Logged-in" />

        <activity
            android:name="com.schibsted.account.webflows.activities.RedirectUriReceiverActivity"
            android:exported="true"
            android:label="Automatic login">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:path="/login"
                    android:scheme="com.sdk-example.pre.602525f2b41fa31789a95aa8" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.schibsted.account.example.ManualLoginActivity"
            android:exported="true"
            android:label="Manual login">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:path="/manual-login"
                    android:scheme="com.sdk-example.pre.602525f2b41fa31789a95aa8" />
            </intent-filter>
        </activity>
    </application>
</manifest>
